{% extends "base.html" %}
{% load static %}
{% block content %}
{% load web_tags %}

			<!-- start banner Area -->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>				
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<!--<h6 class="text-white">Away from monotonous life</h6>-->
							<h1 class="text-white">Mahbod Zamanpour</h1>
							<p class="text-white">
								Back-end & AI developer
							</p>
						</div>
						
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start popular-destination Area -->
			<section class="popular-destination-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">My Certificates</h1>
								<!--<p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day.</p>-->
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{% static 'img/cert/CS50x.png' %}" alt="">
								</div>
								<div class="desc">	
									<a href="https://certificates.cs50.io/45543734-77f9-4145-ac28-b19fa55484c6.pdf?size=letter">
										<h4>Harvard Computer Science</h4>
									</a>		
									<p>CS50</p>			
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{% static 'img/cert/CS50P.png' %}" alt="">
								</div>
								<div class="desc">	
									<a href="https://certificates.cs50.io/d9d05e95-617b-4df2-9acb-019dc6761a19.pdf?size=letter">
										<h4>Harvard Python</h4>
									</a>			
									
									<p>CS50P</p>			
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{% static 'img/cert/CS50AI.png' %}" alt="">
								</div>
								<div class="desc">	
									<a href="https://cs50.harvard.edu/certificates/87427563-553d-429f-b87e-d78757b909f0">
										<h4>Harvard Artificial Intelligence with python</h4>
									</a>			
									
									<p>CS50AI</p>			
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End popular-destination Area -->


			<!-- Start other-issue Area -->
			<!-- <section class="other-issue-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10">Other issues we can help you with</h1>
								<p>We all live in an age that belongs to the young at heart. Life that is.</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o1.jpg' %}" alt="">					
								</div>
								<a href="#">
									<h4>Rent a Car</h4>
								</a>
								<p>
									The preservation of human life is the ultimate value, a pillar of ethics and the foundation.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o2.jpg' %}" alt="">					
								</div>
								<a href="#">
									<h4>Cruise Booking</h4>
								</a>
								<p>
									I was always somebody who felt quite sorry for myself, what I had not got compared.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o3.jpg' %}" alt="">					
								</div>
								<a href="#">
									<h4>To Do List</h4>
								</a>
								<p>
									The following article covers a topic that has recently moved to center stage–at least it seems.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-other-issue">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/o4.jpg' %}" alt="">					
								</div>
								<a href="#">
									<h4>Food Features</h4>
								</a>
								<p>
									There are many kinds of narratives and organizing principles. Science is driven by evidence.
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section> -->
			<!-- End other-issue Area -->





			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								Struggling to find the right solution? <br>
							</h1>
							<p>
								In the rapidly evolving fields of back-end development and artificial intelligence, we understand that each project has unique requirements. Whether you need robust server-side solutions or advanced AI algorithms, our team is here to help you achieve your goals.
							</p>
							<a href="#" class="primary-btn text-uppercase">request custom price</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" src="{% static 'img/img.jpg' %}" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->


			<!-- Start blog Area -->
			<!-- {% include 'website/web-blog-contents.html' %} -->
			{% latestposts %}
			<!-- End recent-blog Area -->						

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'js/popper.min.js' %}"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
			<script src="{% static 'js/jquery-ui.js' %}"></script>					
			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>						
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>					
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>							
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>		
		</body>
	</html>
{% endblock %}