{% load static %}
{% load blog_tags %}

<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Latest from Our Blog</h1>
                    <p>Discover insights, stories, and updates from the world of technology and innovation.</p>
                </div>
            </div>
        </div>							
        <div class="row">
            <div class="active-recent-blog-carusel">
                {% for post in posts %}
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                {% for cat in post.category.all %}
                                <li>
                                    <a href="{% url 'blog:category' cat_name=cat.name %}">
                                        {{ cat.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <a href="{% url 'blog:single' pid=post.id %}">
                            <h4 class="title" style="text-align: {% if post.title|is_persian %}right{% else %}left{% endif %};">
                                {{ post.title }}
                            </h4>
                        </a>
                        <p>
                            {% autoescape off %}
                            {{ post.content|truncatewords:30 }}
                            {% endautoescape %}
                        </p>
                        <h6 class="date">{{ post.published_date|date:"D d M Y" }}</h6>
                    </div>	
                </div>
                {% endfor %}													
            </div>
        </div>
    </div>	
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const images = document.querySelectorAll(".recent-blog-area .single-recent-blog-post .thumb img");
  
      images.forEach(image => {
        image.onload = function() {
          if (image.naturalHeight > image.naturalWidth) {
            image.classList.add("vertical-img");
          }
        };
        // Fallback for cached images
        if (image.complete) {
          if (image.naturalHeight > image.naturalWidth) {
            image.classList.add("vertical-img");
          }
        }
      });
    });
  </script>
  
