{% load static %}
<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/profile1.png' %}" alt="" style="width: 120px; height: 120px;">
    <a href="#"><h4>Mahbod Zamanpour</h4></a>
    <p>
        Back-end Developer
    </p>
    <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
    <p>
        Passionate about backend development and fascinated by AI's potential, I explore their integration to innovate and streamline processes. My blog delves into the intersection of AI and backend development, offering insights into their transformative impact.
    </p>
</div>